---
name: json-dotenv
description: json-dotenv
author: Adrien Delle Cave
author_email: pypi@doowan.net
copyright: '2019-{{ env('PROJECT_COPYRIGHT_YEAR') }} Adrien Delle Cave'
release: '{{ env('PROJECT_RELEASE') }}'
version: '{{ env('PROJECT_VERSION') }}'
license: License GPL-3
url: https://github.com/decryptus/json-dotenv
python_requires:
  - '>=3.10'
classifiers:
  - 'License :: OSI Approved :: GNU General Public License v3 (GPLv3)'
  - 'Natural Language :: English'
  - 'Operating System :: Unix'
  - 'Programming Language :: Python'
  - 'Programming Language :: Python :: 3'
  - 'Topic :: Terminals'
  - 'Topic :: Utilities'
